<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- BLE permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <!-- Android 12+ BLE permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    
    <!-- Additional permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <!-- BLE feature requirement -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="BLE Broadcaster"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:targetApi="31">
        <receiver
            android:name=".XDripReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
                <action android:name="com.eveningoutpost.dexdrip.LAST_BG" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        
        <service
            android:name=".GlucoseGattService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        
    </application>
</manifest>