<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network permissions for xDrip HTTP fetching -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- Legacy Karoo data field permissions (older firmware) -->
    <uses-permission android:name="com.hammerhead.karoo.permission.DATA_FIELD" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KarooGlucometer"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KarooGlucometer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Legacy Karoo Data Field Service (for older Karoo firmware) -->
        <service
            android:name=".karoo.KarooDataFieldService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hammerhead.karoo.DATA_FIELD_SERVICE" />
                <action android:name="com.hammerhead.karoo.DATA_FIELD_REQUEST" />
                <action android:name="com.hammerhead.karoo.GET_DATA_FIELDS" />
            </intent-filter>
            <meta-data
                android:name="karoo_data_field_provider"
                android:value="true" />
            <meta-data
                android:name="karoo_data_field_name"
                android:value="Glucose Monitor" />
        </service>
        
        <!-- Legacy Karoo data field discovery receiver -->
        <receiver
            android:name=".karoo.KarooDataFieldReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hammerhead.karoo.DISCOVER_DATA_PROVIDERS" />
                <action android:name="com.hammerhead.karoo.REQUEST_DATA_FIELDS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>